@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

body {
  background-color: #F0F0F0;
  /* background: linear-gradient(to right, #000 0%, #EEC965 50%, #000 100%); */
  font-family: Bitter, Helvetica, sans-serif;
}

body a {
  color: none;
  text-decoration: none;
}

.app-header {
  /* background-color: rgba(0, 0, 0, 0.445); */
  background: linear-gradient(to right, #000 0%, #EEC965 50%, #000 100%);
  color: rgb(255, 255, 255);
  font-family: Bitter, Helvetica, sans-serif;
  padding: 25px;
}

.app-header h1 {
  margin-left: 1rem;
}

.title-header {
  align-items: center;
  display: flex;
  padding: 0 20px;
}

.title-header h1 {
  font-size: 3rem;
  display: flex;
  font-style: oblique;
}

.title-header img {
  height: 3rem;
}